header {
  width: 100%;
  nav {
    .nav__title {
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: capitalize;
      font-size: 17px;
    }
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
